body{
    background-image: url("background1.jpg");
    background-color:#cccccc;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    size: 28px;
}
h2{
    background-color:rgb(47, 85, 116);
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    size: 18px;
    color:aliceblue;

}