body{
    background-image: url("background1.jpg");
    background-color:#cccccc;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    size: 28px;
}
h2{
    background-color:rgb(47, 85, 116);
    font-family: 'Times New Roman', Times, serif;
    size: 18px;
    color:aliceblue;
    padding: 10px 20px;
}
.bildes {
    padding: 10px 20px;
}
p{
    width: 300px;
    padding: 10px 20px;
    background-color:rgb(79, 127, 167);
    font-weight:bold;
    size:14px;
}